<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function(){
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activeTab');
            if(activeTab){
                $('#myTab a[href="' + activeTab + '"]').tab('show');
            }
        });
    </script>
</head>
{% if session ['user_id'] %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <h1 class="maintext">Welcome!</h1>
            <div id="navbarlinks">
                <a href="/dashboard/" class="btn maintext" type="button"> Dashboard </a>
                <button class="btn maintext" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight">Shopping List</button>
                <a class="btn maintext" type="button" href="/logout/">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h3 class="maintext">{{user_info.first_name}}'s Inventory</h3><br><br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-light" role="alert">
            <p style='color: black;' class="maintext">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Tabs Dashboard -->

        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#nav-kitchen" data-toggle="tab" class="nav-link maintext">Kitchen</a></li>
            <li><a href="#nav-bathroom" data-toggle="tab" class="nav-link maintext">Bathroom</a></li>
            <li><a href="#nav-pets" data-toggle="tab" class="nav-link maintext">Pets</a></li>
            <li><a href="#nav-baby" data-toggle="tab" class="nav-link maintext">Baby</a></li>
            <li><a href="#nav-personalcare" data-toggle="tab" class="nav-link maintext">Personal Care</a></li>
            <li><a href="#nav-cleaning" data-toggle="tab" class="nav-link maintext">Cleaning</a></li>
        </ul>

        <div class="tab-content" id="nav-tabContent">
            <!-- Kitchen TAB 7-->
            <div class="tab-pane fade show active" id="nav-kitchen" role="tabpanel" aria-labelledby="nav-kitchen-tab">

                <!-- Add Item Modal -->
                <button type="button" class="btn btn-border float-end maintext" data-toggle="modal" data-target="#exampleModal">
                    Add Item
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header rbgbackground">
                                <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                            </div>
                            <div class="modal-body">
                                <form action="/additem/" , method="POST">
                                    <input type="hidden" name="category_id" value="7">
                                    Item Name: <input class="textbox" type='text' name="name">
                                    <br> <br>
                                    Quantity: <input class="textbox" type="number" name="quantity">
                                    <br> <br>
                                    Restock Date: <input class="textbox" type="date" name="restock_date">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn maintext "
                                    style="background-color: rgb(157, 190, 187)">Add
                                    Item</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- Start of Kitchen Table -->
                <table class="maintext table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Items</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Restock Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items if item.category_id == 7 %}
                        <tr>
                            <td scope="col"></td>
                            <td> {{ item.name }} </td>
                            <td> {{ item.quantity }}

                            </td>
                            <td> {{ item.restock_date }}

                            </td>
                            <td>
                                <a href="/addtolist/{{ item.id }}/{{7}}/" class="btn maintext"> Add to
                                    Shopping
                                    List</a>
                                <button type="button" class="btn maintext" data-toggle="modal"
                                    data-target="#edit{{item.id}}">
                                    Edit Item
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="edit{{item.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="edit" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header rbgbackground">
                                                <h5 class="modal-title" id="edit{{item.id}}"> Edit Item </h5>
                                            </div>
                                            <form action='/editquantity/' , method='POST'>
                                                <div class="modal-body">
                                                    <input type="hidden" name="category_id" value="7">
                                                    <input type="hidden" name="id" value="{{ item.id }}">
                                                    Item Name: <input class="textbox" type='text' name="name"
                                                        value="{{ item.name }}">
                                                    <br> <br>
                                                    Quantity: <input class="textbox" type="number" name="quantity"
                                                        value="{{ item.quantity }}">
                                                    <br> <br>
                                                    Restock Date: <input class="textbox" type="date" name="restock_date"
                                                        value="{{ item.restock_date }}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal"> Close
                                                    </button>
                                                    <button type="submit" class="btn maintext"
                                                        style="background-color: rgb(157, 190, 187)"> Edit Item
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a href="/delete/{{ item.id }}/{{7}}/" class="maintext"> Delete </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!-- Bathroom TAB 8-->
            <div class="tab-pane fade" id="nav-bathroom" role="tabpanel" aria-labelledby="nav-bathroom-tab">

                <!-- Add Item Modal -->
                <button type="button" class="btn btn-border float-end maintext" data-toggle="modal" data-target="#bathroomModal">
                    Add Item
                </button>
                <div class="modal fade" id="bathroomModal" tabindex="-1" role="dialog" aria-labelledby="bathroomModal"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header rbgbackground">
                                <h5 class="modal-title" id="bathroomModal">Add Item</h5>
                            </div>
                            <div class="modal-body">
                                <form action="/additem/" , method="POST">
                                    <input type="hidden" name="category_id" value="8">
                                    Item Name: <input class="textbox" type='text' name="name">
                                    <br> <br>
                                    Quantity: <input class="textbox" type="number" name="quantity">
                                    <br> <br>
                                    Restock Date: <input class="textbox" type="date" name="restock_date">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn maintext" style="background-color: rgb(157, 190, 187)">Add Item</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- Bathroom TABLE -->
                <table class="maintext table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Items</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Restock Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items if item.category_id == 8 %}
                        <tr>
                            <td scope="col"></td>
                            <td> {{ item.name }} </td>
                            <td> {{ item.quantity }}
                            </td>
                            <td> {{ item.restock_date }}
                            </td>
                            <td>
                                <a href="/addtolist/{{ item.id }}/{{8}}/" class="btn maintext"> Add to Shopping List</a>
                                <button type="button" class="btn maintext" data-toggle="modal" data-target="#edit{{item.id}}">
                                    Edit Item
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="edit{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="edit"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header rbgbackground" >
                                                <h5 class="modal-title" id="edit{{item.id}}"> Edit Item </h5>
                                            </div>
                                            <form action='/editquantity/' , method='POST'>
                                                <div class="modal-body">
                                                    <input type="hidden" name="category_id" value="8">
                                                    <input type="hidden" name="id" value="{{ item.id }}">
                                                    Item Name: <input class="textbox" type='text' name="name"
                                                        value="{{ item.name }}">
                                                    <br> <br>
                                                    Quantity: <input class="textbox" type="number" name="quantity"
                                                        value="{{ item.quantity }}">
                                                    <br> <br>
                                                    Restock Date: <input class="textbox" type="date" name="restock_date"
                                                        value="{{ item.restock_date }}">
                                                        
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
                                                    <button type="submit" class="btn maintext"
                                                        style="background-color: rgb(157, 190, 187)"> Edit Item </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a href="/delete/{{ item.id }}/{{8}}/" class="maintext"> Delete </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Pet TAB 9-->
            <div class="tab-pane fade" id="nav-pets" role="tabpanel" aria-labelledby="nav-pets-tab">

                <!-- Add Item Modal -->
                <button type="button" class="btn btn-border float-end maintext" data-toggle="modal" data-target="#petsModal">
                    Add Item
                </button>
                <div class="modal fade" id="petsModal" tabindex="-1" role="dialog" aria-labelledby="petsModal"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header rbgbackground">
                                <h5 class="modal-title" id="petModal">Add Item</h5>
                            </div>
                            <div class="modal-body">
                                <form action="/additem/" , method="POST">
                                    <input type="hidden" name="category_id" value="9">
                                    Item Name: <input class="textbox" type='text' name="name">
                                    <br> <br>
                                    Quantity: <input class="textbox" type="number" name="quantity">
                                    <br> <br>
                                    Restock Date: <input class="textbox" type="date" name="restock_date">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn maintext" style="background-color: rgb(157, 190, 187)">Add
                                    Item</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- PET TABLE -->
                <table class="maintext table table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Items</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Restock Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items if item.category_id == 9 %}
                        <tr>
                            <td scope="col"></td>
                            <td> {{ item.name }} </td>
                            <td> {{ item.quantity }}
                            </td>
                            <td> {{ item.restock_date }}
                            </td>
                            <td>
                                <a href="/addtolist/{{ item.id }}/{{9}}/" class="btn maintext"> Add to Shopping List</a>
                                <button type="button" class="btn maintext" data-toggle="modal" data-target="#edit{{item.id}}">
                                    Edit Item
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="edit{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="edit"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header rbgbackground">
                                                <h5 class="modal-title" id="edit{{item.id}}"> Edit Item </h5>
                                            </div>
                                            <form action='/editquantity/' , method='POST'>
                                                <div class="modal-body">
                                                    <input type="hidden" name="category_id" value="9">
                                                    <input type="hidden" name="id" value="{{ item.id }}">
                                                    Item Name: <input class="textbox" type='text' name="name"
                                                        value="{{ item.name }}">
                                                    <br> <br>
                                                    Quantity: <input class="textbox" type="number" name="quantity"
                                                        value="{{ item.quantity }}">
                                                    <br> <br>
                                                    Restock Date: <input class="textbox" type="date" name="restock_date"
                                                        value="{{ item.restock_date }}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close
                                                    </button>
                                                    <button type="submit" class="btn maintext"
                                                        style="background-color: rgb(157, 190, 187)"> Edit Item </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a href="/delete/{{ item.id }}/{{9}}/" class="maintext"> Delete </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Baby TAB 10-->
            <div class="tab-pane fade" id="nav-baby" role="tabpanel" aria-labelledby="nav-baby-tab">

                <!-- Add Item Modal -->
                <button type="button" class="btn btn-border float-end maintext" data-toggle="modal" data-target="#babyModal">
                    Add Item
                </button>
                <div class="modal fade" id="babyModal" tabindex="-1" role="dialog" aria-labelledby="babyModal"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header rbgbackground">
                                <h5 class="modal-title" id="babyModal">Add Item</h5>
                            </div>
                            <div class="modal-body">
                                <form action="/additem/" , method="POST">
                                    <input type="hidden" name="category_id" value="10">
                                    Item Name: <input class="textbox" type='text' name="name">
                                    <br> <br>
                                    Quantity: <input class="textbox" type="number" name="quantity">
                                    <br> <br>
                                    Restock Date: <input class="textbox" type="date" name="restock_date">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn maintext" style="background-color: rgb(157, 190, 187)">Add
                                    Item</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- Baby TABLE -->
                <table class="maintext table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Items</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Restock Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items if item.category_id == 10 %}
                        <tr>
                            <td scope="col"></td>
                            <td> {{ item.name }} </td>
                            <td> {{ item.quantity }}
                            </td>
                            <td> {{ item.restock_date }}
                            </td>
                            <td>
                                <a href="/addtolist/{{ item.id }}/{{8}}/" class="btn maintext"> Add to Shopping List</a>
                                <button type="button" class="btn maintext" data-toggle="modal" data-target="#edit{{item.id}}">
                                    Edit Item
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="edit{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="edit"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header rbgbackground">
                                                <h5 class="modal-title" id="edit{{item.id}}"> Edit Item </h5>
                                            </div>
                                            <form action='/editquantity/' , method='POST'>
                                                <div class="modal-body">
                                                    <input type="hidden" name="category_id" value="10">
                                                    <input type="hidden" name="id" value="{{ item.id }}">
                                                    Item Name: <input class="textbox" type='text' name="name"
                                                        value="{{ item.name }}">
                                                    <br> <br>
                                                    Quantity: <input class="textbox" type="number" name="quantity"
                                                        value="{{ item.quantity }}">
                                                    <br> <br>
                                                    Restock Date: <input class="textbox" type="date" name="restock_date"
                                                        value="{{ item.restock_date }}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close
                                                    </button>
                                                    <button type="submit" class="btn maintext"
                                                        style="background-color: rgb(157, 190, 187)"> Edit Item </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a href="/delete/{{ item.id }}/{{10}}/" class="maintext"> Delete </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Personal Care TAB 11-->
            <div class="tab-pane fade" id="nav-personalcare" role="tabpanel" aria-labelledby="nav-personalcare-tab">

                <!-- Add Item Modal -->
                <button type="button" class="btn btn-border float-end maintext" data-toggle="modal" data-target="#personalcareModal">
                    Add Item
                </button>
                <div class="modal fade" id="personalcareModal" tabindex="-1" role="dialog" aria-labelledby="personalcareModal"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header rbgbackground">
                                <h5 class="modal-title" id="personalcareModal">Add Item</h5>
                            </div>
                            <div class="modal-body">
                                <form action="/additem/" , method="POST">
                                    <input type="hidden" name="category_id" value="11">
                                    Item Name: <input class="textbox" type='text' name="name">
                                    <br> <br>
                                    Quantity: <input class="textbox" type="number" name="quantity">
                                    <br> <br>
                                    Restock Date: <input class="textbox" type="date" name="restock_date">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn maintext" style="background-color: rgb(157, 190, 187)">Add Item</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- Personal Care TABLE -->
                <table class="maintext table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Items</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Restock Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items if item.category_id == 11 %}
                        <tr>
                            <td scope="col"></td>
                            <td> {{ item.name }} </td>
                            <td> {{ item.quantity }}
                            </td>
                            <td> {{ item.restock_date }}
                            </td>
                            <td>
                                <a href="/addtolist/{{ item.id }}/{{11}}/" class="btn maintext"> Add to Shopping List</a>
                                <button type="button" class="btn maintext" data-toggle="modal" data-target="#edit{{item.id}}">
                                    Edit Item
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="edit{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="edit"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header rbgbackground">
                                                <h5 class="modal-title" id="edit{{item.id}}"> Edit Item </h5>
                                            </div>
                                            <form action='/editquantity/' , method='POST'>
                                                <div class="modal-body">
                                                    <input type="hidden" name="category_id" value="11">
                                                    <input type="hidden" name="id" value="{{ item.id }}">
                                                    Item Name: <input class="textbox" type='text' name="name"
                                                        value="{{ item.name }}">
                                                    <br> <br>
                                                    Quantity: <input class="textbox" type="number" name="quantity"
                                                        value="{{ item.quantity }}">
                                                    <br> <br>
                                                    Restock Date: <input class="textbox" type="date" name="restock_date"
                                                        value="{{ item.restock_date }}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
                                                    <button type="submit" class="btn maintext"
                                                        style="background-color: rgb(157, 190, 187)"> Edit Item </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a href="/delete/{{ item.id }}/{{11}}/" class="maintext"> Delete </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Cleaning TAB 12-->
            <div class="tab-pane fade" id="nav-cleaning" role="tabpanel" aria-labelledby="nav-cleaning-tab">

                <!-- Add Item Modal -->
                <button type="button" class="btn btn-border float-end maintext" data-toggle="modal" data-target="#cleaningModal">
                    Add Item
                </button>
                <div class="modal fade" id="cleaningModal" tabindex="-1" role="dialog" aria-labelledby="cleaningModal"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header rbgbackground">
                                <h5 class="modal-title" id="cleaningModal">Add Item</h5>
                            </div>
                            <div class="modal-body">
                                <form action="/additem/" , method="POST">
                                    <input type="hidden" name="category_id" value="12">
                                    Item Name: <input class="textbox" type='text' name="name">
                                    <br> <br>
                                    Quantity: <input class="textbox" type="number" name="quantity">
                                    <br> <br>
                                    Restock Date: <input class="textbox" type="date" name="restock_date">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn maintext" style="background-color: rgb(157, 190, 187)">Add Item</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- Cleaning TABLE -->
                <table class="maintext table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Items</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Restock Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items if item.category_id == 12 %}
                        <tr>
                            <td scope="col"></td>
                            <td> {{ item.name }} </td>
                            <td> {{ item.quantity }}
                            </td>
                            <td> {{ item.restock_date }}
                            </td>
                            <td>
                                <a href="/addtolist/{{ item.id }}/{{12}}/" class="btn maintext"> Add to Shopping List</a>
                                <button type="button" class="btn maintext" data-toggle="modal" data-target="#edit{{item.id}}">
                                    Edit Item
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="edit{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="edit"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header rbgbackground">
                                                <h5 class="modal-title" id="edit{{item.id}}"> Edit Item </h5>
                                            </div>
                                            <form action='/editquantity/' , method='POST'>
                                                <div class="modal-body">
                                                    <input type="hidden" name="category_id" value="12">
                                                    <input type="hidden" name="id" value="{{ item.id }}">
                                                    Item Name: <input class="textbox" type='text' name="name"
                                                        value="{{ item.name }}">
                                                    <br> <br>
                                                    Quantity: <input class="textbox" type="number" name="quantity"
                                                        value="{{ item.quantity }}">
                                                    <br> <br>
                                                    Restock Date: <input class="textbox" type="date" name="restock_date"
                                                        value="{{ item.restock_date }}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
                                                    <button type="submit" class="btn maintext"
                                                        style="background-color: rgb(157, 190, 187)"> Edit Item </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a href="/delete/{{ item.id }}/{{12}}/" class="maintext"> Delete </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

    <!-- OFF CANVAS -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h1 id="offcanvasRightLabel" class="maintext shoppinglist-text">Shopping List</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form action="/updateshoppinglist/", method="POST">

            <h3 class="tabletext shoppinglist-text" >Kitchen: </h3>
            {% for product in products %}
            {% if product.category_id == 7 and product.shopping_list_id != 0 %}
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class='tabletext'>
                            <input type="checkbox" name="checkbox" value="{{product.id}}">
                            <label class = "shoppinglist-text">{{ product.name }}</label> </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% endfor %}

            <h3 class="tabletext shoppinglist-text">Bathroom: </h3>
            {% for product in products %}
            {% if product.category_id == 8 and product.shopping_list_id != 0 %}
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class='tabletext'>
                            <input type="checkbox" name="checkbox" value="{{product.id}}">
                            <label class = "shoppinglist-text">{{ product.name }}</label> </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% endfor %}

            <h3 class="tabletext shoppinglist-text">Pets: </h3>
            {% for product in products %}
            {% if product.category_id == 9 and product.shopping_list_id != 0 %}
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class='tabletext'>
                            <input type="checkbox" name="checkbox" value="{{product.id}}">
                            <label class = "shoppinglist-text">{{ product.name }}</label> </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% endfor %}

            <h3 class="tabletext shoppinglist-text">Baby: </h3>
            {% for product in products %}
            {% if product.category_id == 10 and product.shopping_list_id != 0 %}
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class='tabletext'>
                            <input type="checkbox" name="checkbox" value="{{product.id}}">
                            <label class = "shoppinglist-text">{{ product.name }}</label> </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% endfor %}

            <h3 class="tabletext shoppinglist-text">Personal Care: </h3>
            {% for product in products %}
            {% if product.category_id == 11 and product.shopping_list_id != 0 %}
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class='tabletext'>
                            <input type="checkbox" name="checkbox" value="{{product.id}}">
                            <label class = "shoppinglist-text">{{ product.name }}</label>  </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% endfor %}

            <h3 class="tabletext shoppinglist-text">Cleaning: </h3>
            {% for product in products %}
            {% if product.category_id == 12 and product.shopping_list_id != 0 %}
            <table class="table table-hover">
                <tbody> 
                    <tr>
                        <td class='tabletext'>
                            <input type="checkbox" name="checkbox" value="{{product.id}}">
                            <label class = "shoppinglist-text">{{ product.name }}</label> </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn shoppinglist-button">Update Shopping List</button>
        </form>
        </div>

    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
{% endif %}

</html>